<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">


    <appender name="SAVE_TO_FILE_S" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="c:/opt/fdlog/ecom/gql_sww_log_log4j.log"/>
        <param name="maxFileSize" value="50MB"/>
        <param name="maxBackupIndex" value="50"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{DATE} %t %p] %c{3} - %m %n"/>
        </layout>
    </appender>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="CONSOLE [%d{DATE} %t %p] %c{3} - %m %n"/>
        </layout>
    </appender>


    <root>
        <priority value="warn"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="SYSLOG"/>
        <appender-ref ref="CONSOLE"/>
    </root>


    <category name="com.gena.playground">
        <priority value="debug"/>
        <appender-ref ref="SAVE_TO_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </category>
</log4j:configuration>